.list_item {
    cursor: pointer;
    margin-bottom: 5px;
    box-sizing: border-box;
    transition: linear 0.25s;
}

.list_item:hover {
    transform: scale(0.98);
}

.promotion_avatar {
    margin: auto;
    height: 200px;
    width: 200px;
}

.content {
    font-family: 'Libre Baskerville' !important;
    font-style: italic;
    color: gray;
    margin-top: 10px;
}

.title {
    text-transform: uppercase;
    padding-top: 20px;
}